.property-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px; // Espacement entre les cartes
    justify-content: space-between; // Assure un espacement égal entre les cartes
    max-width: 1240px;
    margin: 0 auto; // Centrer la grille sur la page
    padding: 50px;
    background-color: #F6F6F6;
    border-radius: 25px;
    box-sizing: border-box;


    @media (max-width: 768px) {
      flex-direction: column;
      background-color: white;
      gap: 20px;
      padding: 0;
    }
  }