.collapse {
    display: flex;
    flex-direction: column;
    max-width: 1023px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;


    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ff6060;
      padding: 0px 10px;
      cursor: pointer;
      color: white;
      border-radius: 5px;
      height: 54px;
  
      h2 {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        line-height: 34.22px;
      }
  
      .collapse-arrow {
        transition: transform 0.3s ease;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
      }
  
      .collapse-arrow.open {
        transform: rotate(180deg);
      }
    }
  
    .collapse-content {
      background-color: #F6F6F6;
      padding: 20px;
      border-radius: 0 0 5px 5px;
      animation: fadeIn 0.3s ease-in-out;
      font-size: 16px;
    }
  
    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }
  }
